<a href="https://colab.research.google.com/github/DavidUsyu/AI-Coursework--2025/blob/master/Exercise4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.read_csv("netflix_titles.csv")

In [2]:
#1:
rows, columns = df.shape
print("The dataset contains", rows, "rows and", columns, "columns.\n")

The dataset contains 8807 rows and 12 columns.

In [3]:
#2:
print("Datatypes contained in the dataset:")
print(df.dtypes, "\n")

Datatypes contained in the dataset:
show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [4]:
#3:
missing = df.isnull().sum()
total_missing = missing.sum()
if total_missing == 0:
    print("The dataset is complete (no missing values).\n")
else:
    print("The dataset is NOT complete. There are missing values in some columns.\n")
    print(missing[missing > 0], "\n")

The dataset is NOT complete. There are missing values in some columns.

director      2634
cast           825
country        831
date_added      10
rating           4
duration         3
dtype: int64

In [5]:
#4:
last_20 = df.tail(20)
num_movies = (last_20['type'] == 'Movie').sum()
num_tvshows = (last_20['type'] == 'TV Show').sum()

print("Among the last 20 rows:")
print("Movies:", num_movies)
print("TV Shows:", num_tvshows)

Among the last 20 rows:
Movies: 15
TV Shows: 5

In [6]:
df = pd.read_csv("netflix_titles.csv")

In [7]:
#1:
sa_movies = df[(df['country'] == 'South Africa') & (df['type'] == 'Movie')]
num_sa_movies = len(sa_movies)
print("Number of Movies from South Africa:", num_sa_movies, "\n")

Number of Movies from South Africa: 24

In [8]:
#2:
description_12th = df.loc[11, 'description']
print("Description of the movie in the 12th row:\n", description_12th, "\n")

Description of the movie in the 12th row:
 Struggling to earn a living in Bangkok, a man joins an emergency rescue service and realizes he must unravel a citywide conspiracy.

In [9]:
#3:
sa_movies_2021 = sa_movies[sa_movies['release_year'] == 2021]
print("South African Movies released in 2021:\n")
print(sa_movies_2021[['title', 'release_year']], "\n")

South African Movies released in 2021:

                             title  release_year
293                           Slay          2021
764   Trippin' with the Kandasamys          2021
881                 I Am All Girls          2021
1172       Loyiso Gola: Unlearning          2021

In [10]:
#4:
movies_2021 = df[(df['type'] == 'Movie') & (df['release_year'] == 2021)]
print("Entire cast of all movies released in 2021:\n")
print(movies_2021[['title', 'cast']])

Entire cast of all movies released in 2021:

                                                  title  \
6                      My Little Pony: A New Generation
9                                          The Starling
12                                         Je Suis Karl
13                     Confessions of an Invisible Girl
18                                            Intrusion
...                                                 ...
1425                        Creating The Queen's Gambit
1431                                        Stuck Apart
1436  Ratones Paranoicos: The Band that Rocked Argen...
1466                       The Minimalists: Less Is Now
1468                          What Happened to Mr. Cha?

                                                   cast
6     Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
9     Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...
12    Luna Wedler, Jannis Niewöhner, Milan Peschel, ...
13    Klara Castanho, Lucca Picon, Júlia Gomes, Marc...
18    Freida Pinto, Logan Marshall-Green, Robert Joh...
...                                                 ...
1425                                                NaN
1431  Engin Günaydın, Haluk Bilginer, Binnur Kaya, Ö...
1436  Juan Sebastián Gutiérrez, Pablo Cano, Pablo Me...
1466                                                NaN
1468           Cha In-pyo, Cho Dal-hwan, Song Jae-ryong

[277 rows x 2 columns]